body {
  margin: 0;
  padding: 0;
  background: #EFEFEF;
  color: #555;
  font: normal 10pt sans-serif, Arial, Helvetica;
}

#page {
  margin: 5px auto;
  width: 400px;
  border: 1px solid #C9E0ED;
  background: white;
}

header {
  margin: 0;
  padding: 0;
  border-top: 3px solid #C9E0ED;
  border-bottom: 1px dashed #e0e0e0;
}

#content {
  padding: 20px;
}

footer {
  margin-top: 10px;
  padding: 10px;
  border-top: 1px solid #C9E0ED;
  text-align: center;
  font-size: 0.8em;
}

#logo {
  padding: 10px 20px;
  font-size: 200%;
}

div.flash-error, div.flash-notice, div.flash-success {
  margin-bottom: 1em;
  padding: .8em;
  border: 2px solid #ddd;
}

div.flash-error {
  border-color: #FBC2C4;
  background: #FBE3E4;
  color: #8a1f11;
}

div.flash-notice {
  border-color: #FFD324;
  background: #FFF6BF;
  color: #514721;
}

div.flash-success {
  border-color: #C6D880;
  background: #E6EFC2;
  color: #264409;
}

div.flash-error a {
  color: #8a1f11;
}

div.flash-notice a {
  color: #514721;
}

div.flash-success a {
  color: #264409;
}

div.form .rememberMe label {
  display: inline;
}

div.view {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #C9E0ED;
}

.field {
  display: block;
  box-sizing: border-box;
  padding: 5px 10px;
  width: 100%;
  border: 1px solid #C9E0ED;
  background: #fcfcfc;
}

.field:focus {
  outline: none;
  border-color: #bfd6e3;
  background: #fff;
}

.btn {
  padding: 5px 10px;
  border: 1px solid #C9E0ED;
  background: #dbf2ff;
  color: #555;
  cursor: pointer;
}

.btn:hover {
  background: #b2cbd8;
}

.btn-group {
  margin: 10px 0;
  text-align: center;
}

.hidden {
  display: none;
}
